@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: 'Press Start 2P', cursive; 
}

@layer base {
  html {
    font-family: var(--font-main); 
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url('./img/background.png') no-repeat center center fixed;
    --background-size: auto;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}