@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

:root {
  --font-main: 'Press Start 2P', cursive; 
  --foreground-color: #171717;
}

@layer base {
  html, body, #__next {
    height: 100%;
  }
  html {
    font-family: var(--font-main); 
  }
}

body {
  background-image: url('./img/background.png'); /* tu ruta */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;        /* que se adapte a cualquier pantalla */
  background-attachment: fixed;  /* parallax en desktop */
  color: var(--foreground-color);
  min-height: 100%;
}

/* Evitar bugs en móviles con fixed */
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}
